
a { text-decoration: none; color: #000;}
a:hover {
	text-decoration: underline;
}
ul{list-style:none;}/*elimina o símbolo das listas*/
li.pool {
  list-style-image: url(/Inc/Img/seta_on.png);
}
ul.inside 
{
list-style-position: inside;
}
fieldset 
{
	padding:15px 15px 15px 15px;
	margin: 15px 5px 15px 5px;
	border-radius:5px;
}
div.tabelaDados 
{
	border-top: 1px solid #DDD;
	clear: both;
	overflow: auto;
	top: 170px;
	bottom: 15px;
	left: 15px;
	right: 15px;
	position: absolute;   
}

.bordafoto {
	border: 0px solid #F37021;
	margin-right: 9px;
}
h2{ font-size:18px; padding-bottom:15px; color:#333366}

/*********** IDS ************/
#Geral{ min-width:911px; min-height:460px;}
#Topo{ height:60px; border-top:#064d80 6px solid; padding:5px; font: 45px Verdana, Geneva, sans-serif; color:#264b7b;}

#Corpo
{
	position: absolute;
	bottom: 70px;
	top: 120px;
	left: 10px;
	right: 10px;
	padding: 15px;
	background-color:#fff;
	color:#444444;
	min-height:250px;   
}
#tit_internas{font:13px Verdana, Geneva, sans-serif; font-weight:bold; border-bottom:10px solid #1e59ae; padding-bottom:5px; font-size:15px;}
#tit_timesheet{font:12px Verdana, Geneva, sans-serif; border-bottom:3px solid #1e59ae; padding-bottom:5px;}
#txt_corpo{color:#444444; width:486px; float:left; padding:22px 40px 0px 0px;}
#txt_contato{color:#444444; float:left; width: auto; padding:22px 40px 0px 0px;}
#foto_corpo{ width:294px; float:right; margin-top:35px;}
#separador{ height:23px;}
#chamada{ width:510px; height:224px; float:left; background-color:#fff;}
#foto_dir{width:220px;height:280px;float:left;padding:20px 0px 0px 15px;}
#texto{width:auto;float:right;color:#444444; font:12px Verdana, Geneva, sans-serif;padding:15px 15px 15px 15px;}
#mais{font-size:11px;font-weight:bold; text-align:right; margin-top:10px;}
#depoimentos{ margin-left:13px; width:288px; height:224px; float:left; border-left:1px dashed #9e9e9e; padding-left:45px;}
#txt_dep{ width:194px; float:left; margin-top:10px; font:11px Arial, Helvetica, sans-serif; color:#595959;}
#linha{ clear:left; height:10px; border-bottom:dashed 1px #cecece;}
#Rodape 
{
	position : absolute;
	right: 10px;
	left: 10px;
	bottom: 10px;
	padding: 15px;
	height: 25px;
	background-color: #fff;
	font:10px Verdana, Geneva, sans-serif;
	color: #000;
	border-top: dashed 1px #b7b7b7;
}
#titulo{float:left; width:360px; height:56px; padding-top:15px;}
#logo{
	width:490px;
	height:56px;
	float:right;
	text-align:right;
}
#logo_ibope{width:490px;height:42px;padding-top:10px;float:right;text-align:right;
}
#logo_interno{float:right; margin-top:-45px;}
#Destaques 
{
	height:185px; 
clear:left; width: 911px; padding: 0px 20px 0px 20px; background-color: #FFF;
}
#dates{padding:22px 0px 0px 0px; width:190px; float:left;}
#insere_proj{padding:22px 0px 0px 0px; float:left;}
#tab_projetos{padding:0px 0px 0px 0px;}
#box_infos{ border:1px solid #000; background-color:#FFF; height:130px; padding:5px;}
#box_insere{ border:1px solid #ccc; background-color:#FFF; height: auto; padding:5px;}
#botao{padding:4px; width:120px; float:right; text-align:center; background:url(/Inc/Img/bk_botao.gif);}
#graficos{margin-top:25px;}

/** MENU **/
div#menu_internas 
{
	padding-bottom: 10px;
	height:31px;
	background:url(/Inc/Img/bk_menu.gif) repeat-x;
}

div#menu_principal {
    height: 8px;
    background: url(/Inc/Img/bk_menu.gif);
    padding: 0px 20px 0px 20px;
}


#log_usuario{line-height:30px; float:left; border-left:1px solid #7e7e7e; font-weight:bold; color:#fff; text-transform:uppercase; font-family:Arial, Helvetica, sans-serif; font-size:11px; padding:0px 15px 0px 15px; text-align:left;}
#acesso_admin{width:170px; float:right; position:relative; height:42px; padding-top:18px; margin-top:-5px;}
#folha{width:770px; height:48px; float:left; background: url(/inc/img/topo_folha.png); position:absolute; margin-top:150px;}
#Barra_inf{width:770px; height:55px; background: url(/Inc/Img/barra_inf.png);}
#logado
{
	line-height:30px; 
	padding-left: 220px;
	color:#064d80; 
	font-family: Verdana, Geneva, sans-serif;
	font-size:11px;
	text-align:left;
}


/*********** CLASSES ****************/
.titulo
{
	display: block;
	font-size:18px;
	color:#064d80;
}
.arttit{ font-size:18px;}
.bold{ font-weight:bold;}
.vermelho{color:#FF3333;}
.link_senha{ font-size:10px; text-transform:none; color:#fff;}
.branco{color:#fff;}
.azul{color:#064d80;}
.titulo{font:13px Verdana, Geneva, sans-serif; font-weight:bold;}
.link_azul{color:#064d80;}
.link_branco{color:#fff;}
.foto{margin:10px 0 5px 0;}
.foto_internas{float:right; border:3px solid #1f59ae; margin-top:15px;}
.upper{ text-transform:uppercase;}
.tit_azul{color:#3399cc;}
.error{ color:#f00; margin-bottom:5px; }
.center { text-align: center;}
.fix label {float:none !important;}
.advice
{
	font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;
	font-weight:normal;
	font-size:10px;		
}
.tit
{
	font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;
	font-weight:normal;
	font-size:13px;
	text-align:center;
	background-color:#b9c9fe;
	color:#003399;
	line-height:30px;
	height:30px;
	margin: 0 5px 5px 0;
	padding: 0 10px 0 10px;
	display: block;
	float:left;
	width: 189px;
}
.selected
{
	border-bottom: solid 2px #003399;
}
.display-none{
	display: none;
}
.cb
{
	clear:both;
}
.back
{
	font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;
	font-weight:normal;
	font-size:11px;
	color:#003399;	
}
/*-----
------ botoes (não-menus)
-----*/
	
a.botao_azul span {
	background: transparent url('/Inc/img/botao_e.png') no-repeat;
	display: block;
	line-height: 13px;
	padding: 5px 0 5px 15px;
}
a.botao_azul:active  {
	background-position: bottom right;
	outline: none; /* hide dotted outline in Firefox */
}

a.botao_azul:active span {
	background-position: bottom left;
}
a.botao_azul {
	background: transparent url('/Inc/img/botao_d.png') no-repeat scroll top right;
	color: White;
	display: block;
	float: right;
	font: normal 12px arial, sans-serif;
	height: 23px;
	margin-right:40px;
	padding-right: 15px; /* sliding doors padding */
	text-decoration: none;
	cursor:pointer;
}

.links_header {
	font-size:12px;
	float:right;
	width:auto;}
	
.links_header, .links_header a
 {
	color:#064d80;
	text-decoration:none;}
	
.links_header a:hover{text-decoration:underline;}
.links_header .ativo{ font-weight:bold;}

.form_contato {
	color:#444;
	font-size:12px;
	margin:15px auto 0 auto;
	text-align:right;
	width:435px;}


/********* FORM ***************/
form {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.btconf {font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; TEXT-TRANSFORM: uppercase; background: url(/inc/img/bk_menu.gif); color: #fff; BORDER: #064d80 0pt solid; width:30px; height:31px;}
.btconf2 {font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; TEXT-TRANSFORM: uppercase; background:url(/inc/img/bk_botao.gif); color: #fff; BORDER: #064d80 1pt solid; padding:4px 7px 4px 7px;}
.drpDown1{
	border: 1px solid #064d80;
	background-color: #EBEBEB;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;    
	color: #000000;
}
.box{
FONT-FAMILY: Verdana; 
FONT-SIZE: 11px; 
COLOR: #000; 
BACKGROUND-COLOR: #EBEBEB; 
BORDER: #ccc 1px double; 
}
.box2{
FONT-FAMILY: Verdana; 
FONT-SIZE: 11px; 
COLOR: #000; 
BACKGROUND-COLOR: #EBEBEB; 
BORDER: #064d80 1px double; 
}
.campo {
	border: 1px solid #CCCCCC;
	font-family: Verdana;
	font-size: 12px;
	color: #000000;
}
.checkbox{border: none; background-image:none;}

select, input {
	background-repeat: repeat-x;
	border: 1px solid #a0a0a0;
	font-family: Tahoma, Arial, Sans-Serif;
	font-size: 8pt;
}

/*------ajax loader-------*/
.loader
{
	height: 20px;
	width: 270px;
	background-color:#FFFFE1;
	border: solid 1px #FFFF00;
	padding: 7px;
	position:absolute;
	top:0px;
	left:39%;
	z-index:9001;
	display:none;
}

.loader img
{
	float:left;
	margin: 0 10px 0 10px;
	vertical-align:middle;
}

.loader p
{
	float:left;
	margin: 0 10px 0 10px;	
	vertical-align:middle;
	color:#990000;
	font-weight:bold;
}
/*------end-ajax loader-------*/

/*---------- Linhas Alternadas ----------*/
table.linhasAlternadas {
	border-collapse: collapse; /* CSS2 */
	background: #fff;
	border-left: solid #dddddd 1px;
	border-right: solid #dddddd 1px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666;
}
table.linhasAlternadas td {
	border-bottom: 1px solid #dddddd;
	padding:5px;
}
table.linhasAlternadas tr:nth-child(even) /* CSS3 */ {
	background: #fff;
}
table.linhasAlternadas tr.even /* estilo explícito */ {
	background: #fff;
}
table.linhasAlternadas th {
	border-bottom: 1px solid #dddddd;
	background: #eeeeee;
	color:#064d80;
	font-weight:bold;
	padding:5px;
}

table.linhasAlternadas th a
{
	background: #eeeeee;
	color:#064d80;
	font-weight:bold;	
	text-transform:uppercase;
}

table.linhasAlternadas tr:hover td
{
	background-color:#eeeeee;
}

table.linhasAlternadas td.tools a
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666;
	float:left;
	margin-left:10px;
}

/***** PAGINAÇÃO ******/
.pages {
	padding: 3px;
	height:25px;
	margin-top:15px;
	width:300px;
	text-align:center;
}

.pages a {
	display: inline;
	margin: 0 5px 0 0;
	color: #064d80;
	padding: 4px;
	border: 1px solid #ccc;
	text-decoration: none;
}
.pages a:hover {
	color: #000;
	background: #e8eef6;
	border: 1px solid #064d80;
	text-decoration:none;
}
.pages a.nolink {
	color: #999;
	border: 1px solid #F3F3F3;
	padding: 4px;
}
.pages a.current {
	color: #FFF;
	border: 1px solid #064d80;
	padding: 4px;
	background: #064d80;
}

/*repositorio*/
div.items
{
	width: 100%;
	height: 230px;
}
/* end-repositorio*/

/*filtros*/
div.filters
{
	border-top: 0px solid #1e59ae;
	border-bottom: 0px solid #1e59ae;
	padding: 5px; 
}

div.filters p
{
	margin-bottom: 2px;
}

.propaganda label
{
	float: left;
	width: 120px;
}

/*end-filtros*/

/*lista-usuarios.aspx*/

div.comments
{
	width: 520px;
	margin: 0 auto;
}

div.comments label
{
	float:left;
	width: 80px;
}

div.comments p
{
	margin-bottom: 2px;
}

div.table
{
	width:880px;
	height:auto;
	overflow: auto;
}

.options ul
{
	padding: 0;
}

.options li
{
	margin: 5px;
}

.options a
{
	font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;
	font-weight:normal;
	font-size:13px;
	color:#003399;
}

.atividade90dias 
{
	margin: 0 0 0 20px;	
}

.desativarmeter 
{
	margin: 0 0 0 168px;	
}

.reativarmeter
{
	margin: 0 0 0 168px;	
}

.bloqueardados
{
	margin: 0 0 0 292px;	
}

.excluir
{
	margin: 0 0 0 415px;	
}

.PendenteDesligamento .excluir
{
	margin: 0 0 0 295px;	
}

/*end-lista-usuarios.aspx*/

/*atividades 90 dias */
.gray-cell
{
	background-color:#e6e6e6;
}
.green-cell
{
	background-color:#C6EFCE;
	color:#006100;
}
.red-cell
{
	background-color:#FFC7CE;
	color:#9C0006;
}
/*.scroll-horizontal
{
	overflow-x: scroll; 
	overflow-y: hidden;
}*/
/* fim - atividades 90 dias */

/*programa pontos */
.excel
{
	width: 120px;
	height: 200px;
	float:left;
	text-align:center;
}
.tools-inner
{
	width: 360px;
}
/*fim - programa pontos */

/*botão de dialog*/
.ui-button {
	padding: 0px 0px;
}
/*fim - botão de dialog*/